td {
    vertical-align: middle !important;
}

.dataTable th {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.total-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    strong {
        font-size: 1.5rem;
    }

    input {
        border: none;
        font-size: 1.25rem;
        text-align: right;
        display: table-column;
        padding: 0;
        cursor: default;

        &:focus {
            outline: none;
            border: none;
            box-shadow: none;
            background: transparent;
        }
    }
}

.search-box-number,
.search-box-date {
    width: 8rem;
    text-align: center;
}

.select2-container--bootstrap-5 .select2-selection {
    font-size: 0.875rem !important;
    min-height: calc(1.5em + 0.75rem + 4px) !important;
    padding-top: 0.4375rem !important;
    padding-bottom: 0.4375rem !important;
    min-width: 12rem !important;
}

.select2-container--bootstrap-5.select2-container--focus .select2-selection,
.select2-container--bootstrap-5.select2-container--open .select2-selection {
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%) !important;
}

.is-required {
    font-size: 0.5rem;
    margin-left: 0.15rem;
    color: $danger;
    height: auto;
    vertical-align: top;
}