td {
    vertical-align: middle !important;
}

.dataTable th {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.total-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    strong {
        font-size: 1.5rem;
    }

    input {
        border: none;
        font-size: 1.25rem;
        text-align: right;
        display: table-column;
        padding: 0;
        cursor: default;

        &:focus {
            outline: none;
            border: none;
            box-shadow: none;
            background: transparent;
        }
    }
}

.search-box-number,
.search-box-date {
    width: 8rem;
    text-align: center;
}